   /* Reset and base styles  */
   
   * {
       padding: 0px;
       margin: 0px;
       border: none;
   }
   
   *,
   *::before,
   *::after {
       box-sizing: border-box;
   }
   
   a,
   a:link,
   a:visited {
       text-decoration: none;
   }
   
   a:hover {
       text-decoration: none;
   }
   
   aside,
   nav,
   footer,
   header,
   section,
   main {
       display: block;
   }
   
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p {
       font-size: inherit;
       font-weight: inherit;
   }
   
   ul,
   ul li {
       list-style: none;
   }
   
   img {
       vertical-align: top;
   }
   
   img,
   svg {
       max-width: 100%;
       height: auto;
   }
   
   address {
       font-style: normal;
   }
   
   input,
   textarea,
   button,
   select {
       font-family: inherit;
       font-size: inherit;
       color: inherit;
       background-color: transparent;
   }
   
   input::-ms-clear {
       display: none;
   }
   
   button,
   input[type="submit"] {
       display: inline-block;
       box-shadow: none;
       background-color: transparent;
       background: none;
       cursor: pointer;
   }
   
   input:focus,
   input:active,
   button:focus,
   button:active {
       outline: none;
   }
   
   button::-moz-focus-inner {
       padding: 0;
       border: 0;
   }
   
   label {
       cursor: pointer;
   }
   
   legend {
       display: block;
   }
   
   @media(prefers-reduced-motion:no-preference) {
        :root {
           scroll-behavior: smooth;
       }
   }
   
   a:focus {
       border-bottom: 2px solid #fff;
   }
   
   body {
       font-family: Lexend;
       font-weight: 400;
   }
   
   .noscroll {
       overflow: hidden;
   }
   
   .open {
       display: grid !important;
       flex-direction: column;
   }
   
   .container {
       max-width: 100%;
       margin: 0 auto;
       padding: 10px;
   }
   /**-------------------------HEADER---------------------*/
   
   .header-nav {
       display: none;
   }
   
   .nav {
       display: flex;
       justify-content: space-between;
   }
   
   .hero-container {
       background-image: url(../images/background/hero-bg.jpg);
       background-size: cover;
       background-attachment: fixed;
       background-repeat: no-repeat;
       background-position: center;
       padding-bottom: 65px;
   }
   
   .header-logo {
       color: white;
       font-weight: 800;
       font-size: 18px;
       align-items: center;
       letter-spacing: 0.03em;
       text-transform: uppercase;
   }
   
   .burger {
       display: flex;
       position: relative;
       z-index: 50;
       align-items: center;
       justify-content: flex-end;
       width: 30px;
       height: 18px;
   }
   
   .burger span {
       height: 2px;
       width: 80%;
       transform: scale(1);
       background-color: #FAF6F2;
   }
   
   .burger::before,
   .burger::after {
       content: '';
       position: absolute;
       height: 2px;
       width: 100%;
       background-color: #FAF6F2;
       transition: all 0.3s ease 0s;
   }
   
   .burger::before {
       top: 0
   }
   
   .burger::after {
       bottom: 0
   }
   
   .burger.active span {
       transform: scale(0)
   }
   
   .burger.active::before {
       top: 50%;
       transform: rotate(-45deg) translate(0, -50%);
   }
   
   .burger.active::after {
       bottom: 50%;
       transform: rotate(45deg) translate(0, 50%);
   }
   
   .dropdown-menu {
       padding: 20px 0;
       display: block;
       background-color: inherit;
   }
   
   .dropdown-menu a {
       padding: 0;
   }
   
   .nav ul {
       display: block;
       size: 26px;
   }
   
   .arrow-down {
       display: none;
   }
   
   .language-list {
       display: block;
   }
   
   .language-item,
   .language-item a {
       display: flex;
       align-items: center;
       gap: 8px;
   }
   
   .language-item a,
   .language-item p {
       color: #fff;
   }
   
   .header-nav {
       align-items: start;
       display: none;
       flex-direction: column;
       position: fixed;
       height: 100%;
       width: 100%;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       z-index: 50;
       overflow-y: auto;
       padding: 50px 40px;
       background-color: #000;
       animation: burgerAnimation 0.4s;
   }
   
   .header-nav ul {
       align-self: end;
   }
   
   .header-nav a,
   .header-nav p {
       font-size: 22px;
   }
   
   .header-list a {
       font-size: 32px;
   }
   
   @keyframes burgerAnimation {
       from {
           opacity: 0
       }
       to {
           opacity: 1
       }
   }
   
   .address-list {
       grid-row: 2;
   }
   
   .address-item {
       align-items: center;
       display: flex;
       gap: 5px;
   }
   
   .header-item-link {
       color: white;
       font-family: Lexend;
       font-weight: 400;
       font-size: 18px;
   }
   
   .address-item-link {
       color: white;
       font-family: Lexend;
       font-size: 17px;
       font-weight: 400;
   }
   
   .nav ul {
       display: block;
       size: 26px;
   }
   
   .nav {
       margin-bottom: 10px;
   }
   /*!---------------HERO-------------*/
   
   .hero-title {
       font-weight: 500;
       color: white;
       font-family: Lexend;
       font-size: 20px;
       margin-bottom: 20px;
   }
   
   .hero-description {
       color: white;
       font-family: Lexend;
       font-size: 18px;
   }
   
   .hero-text-info {
       margin-top: 30px;
       margin-bottom: 40px;
   }
   /*!---------------FORM-------------*/
   
   .form__group {
       display: flex;
       flex-direction: column;
       margin-bottom: 18px;
   }
   
   .form__group input {
       font-size: 18px;
       background-color: rgba(355, 355, 355, 0.8);
       color: #000;
       padding-left: 25px;
       width: calc(100%);
       height: 38px;
       margin-bottom: 12px;
       outline: none;
   }
   
   .form__submit-button button {
       background: #3A6612;
       padding-top: 10px;
       padding-bottom: 10px;
       width: calc(100%);
       border: none;
       font-family: Lexend;
       color: white;
       font-size: 20px;
       text-align: left;
       padding-left: 25px;
   }
   /*!---------------OFFERS-------------*/
   
   .offers {
       padding-top: 20px;
       padding-bottom: 20px;
       position: relative;
   }
   
   .offers-wrap {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   
   .offers-main-title {
       color: white;
       text-align: center;
       font-family: Lexend;
       font-size: 30px;
       margin-bottom: 20px;
   }
   
   .offers-item {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       background-color: #3A6612;
       padding: 10px 15px;
       flex-direction: column;
   }
   
   .offers-item img {
       margin-bottom: 20px;
   }
   
   .offers-title {
       text-align: left;
       color: white;
       font-size: 20px;
       margin-bottom: 10px;
   }
   
   .offers-item-link {
       color: white;
       font-weight: 400;
       font-size: 18px;
   }
   /*SLIDER*/
   
   .swiper-container {
       width: 100%;
       overflow: hidden;
   }
   
   .swiper-pagination {
       left: 50%;
       transform: translateX(-50%);
   }
   /*!---------------ABOUT US-------------*/
   
   .about-us-title {
       display: none;
   }
   
   .about-us-description {
       display: none;
   }
   /*!---------------CONTACTS-------------*/
   
   .contact-section {
       padding-top: 20px;
       padding-bottom: 20px;
   }
   
   .contact-title {
       text-align: center;
       font-family: Lexend;
       font-size: 26px;
       margin-bottom: 25px;
   }
   
   .contact-factory-name {
       font-weight: bold;
   }
   
   .contact {
       font-family: Lexend;
       color: black;
   }
   
   .contact-list {
       display: flex;
       gap: 20px;
       flex-direction: column;
   }
   
   .contact-item a {
       font-size: 18px;
   }
   
   .contact-address {
       display: flex;
       align-items: center;
   }
   
   .location-soc-link {
       margin-right: 15px;
   }
   
   .contact-phones {
       display: flex;
       align-items: center;
   }
   
   .phone-soc-link {
       margin-right: 15px;
   }
   
   .contact-emails {
       display: flex;
       align-items: center;
   }
   
   .mail-soc-link {
       margin-right: 15px;
   }
   
   .map {
       margin-top: 30px;
       width: 100%;
       height: 50vh;
   }
   /*?----------FOOTER----------------*/
   
   .footer {
       background-color: #3A6612;
   }
   
   .address-footer {
       display: none;
   }
   
   .footer-nav-list {
       display: none;
   }
   
   .footer-logo-link {
       display: flex;
       justify-content: center;
       align-items: center;
       color: white;
       text-transform: uppercase;
       margin-bottom: 10px;
   }
   
   .footer-text-mobile-tablet {
       color: white;
       margin: auto;
       margin-bottom: 30px;
   }
   
   .footer-additional-item-link {
       margin: auto;
       color: white;
       font-size: 11px;
   }
   
   .created-by-list {
       display: flex;
   }
   
   .created-by-item {
       color: white;
       font-size: 12px;
   }
   
   .developer-link {
       color: white
   }
   
   @media screen and (min-width: 428px) {
       .container {
           width: 428px;
       }
       .offers-item {
           width: 300px;
       }
   }
   
   @media screen and (min-width: 768px) {
       .container {
           width: 768px;
       }
       .hero-container {
           padding-bottom: 80px;
       }
       .hero-title {
           font-size: 36px;
       }
       .hero-text-info {
           width: 400px;
           margin-right: 20px;
       }
       .hero-wrap {
           display: flex;
           justify-content: center;
           align-items: center;
       }
       /*?------OFFERS---------*/
       .offers-main-title {
           display: none;
       }
       .offers-list {
           display: flex;
           flex-wrap: wrap;
           gap: 64px 24px;
           flex-direction: row;
           z-index: 3;
       }
       .offers-item {
           width: 28%;
       }
       .contact-info-wrap {
           display: flex;
           justify-content: center;
           align-items: center;
       }
       .contact-list {
           margin-right: 15px;
           gap: 45px;
       }
       .map {
           margin-top: 0;
       }
       .tablet-el {
           display: flex;
           justify-content: center;
           align-items: center;
       }
       .footer-additional-items-list {
           display: flex;
           align-items: center;
           justify-content: space-between;
       }
   }
   
   @media screen and (min-width: 1158px) {
       .container {
           width: 1158px;
       }
   }